img{
    width:100%;
}
.grids{
    width: 100%;
    height: 1.53rem;
    font-size: .15rem;
    padding: .1rem;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: .1rem;
    box-shadow: 0 1px 0 0 #d9d9d9;
    .grid{
        float: right;
        height:.6188rem;
        width: 1.71rem;
        border-radius: .1rem;
        position: relative;
        &:nth-of-type(1){
            font-size: .16rem;
            height: 1.33rem;
            float: left;
            background-color: #fdf4e6;
            .pic{
                height: 100%;
                width: 1.33rem;
                float: right;
                img{
                    height:100%;
                }
            }
        }
        &:nth-of-type(2){
            margin-bottom: .1rem;
            background-color: #fff3f1;
        }
        &:nth-of-type(3){
            background-color: #eef9fc;
        }
        .msg{
            position: absolute;
            top: 0;
            left: 0;
            margin:.1rem 0 0 .13rem;
            .title{
                font-weight: 500;
            }
            .text{
                font-size: .1rem;
                font-weight: 500;
                color: #ff9e55;
            }
        }
        .pic{
            height: 100%;
            width: .6188rem;
            float: right;
            img{
                height:100%;
            }
        }
    }
}
.topList{
    background-color: #fff;
    margin: .05rem 0 0;
    height: 1.5rem;
    .topSwiper{
        box-sizing: border-box;
        padding: .1rem 0;
        height: 1.5rem;
        .box0{
            float: left;
            width: .42rem;
            height: 1.29rem;
            margin-right: .13rem;
            background-color: #fee44e;
            text-align: center;
            img{
                width: .24rem;
                height: .61rem;
                margin-top:.3rem;
            }
        }
        .more{
            height: 80%;
            border: 1px solid #d9d9d9;
            p{
                height: 50%;
                text-align: center;
                position: relative;
                &:nth-of-type(1){
                    font-size: .16rem;
                    color: #fda900;
                    border-bottom: 1px solid #d9d9d9;
                }
                &:nth-of-type(2){
                    font-size: .1425rem;
                    color: #877a73;
                }
                .moretitle{
                    position: absolute;
                    bottom:0;
                    left: .16rem;
                }
            }
        }
        .topwrap{
            width: .88rem;
            height: 100%;
            display: flex;
            font-size: .1rem;
            flex-direction: column;
            justify-content: center;
            position: relative;
            .icon{
                width: .24rem;
                height: .21rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .image{
                flex: 1;
            }
            .toptitle{
                margin-top: .04rem;
                // width:80%;
                flex: 1;
                line-height: .2rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .topinfo{
                flex:1;
                font-size: .16rem;
                text-align: center;
                color: #fa585a;
                .tag{
                    width: .07rem;
                    height: .14rem;
                    font-size: .13rem;
                    font-style: normal;
                    font-weight:400;
                }
            }
        }
    }
}
.splitline{
    width:100%;
    height: .5rem;
    color: hsla(21,8%,49%,.7);
    text-align: center;
    line-height: .5rem;
    font-size: .12rem;
    .line{
        width: 12%;
        background-color: #fdde4a;
        display: inline-block;
        margin-bottom: 3px;
        height: 1px;
        }
}
.listwrap{
    width:100%;
    ul.list{
        width:100%;
        overflow: hidden;
        font-size: .12rem;
        li{
            float: left;
            width:49%;
            height: 2.77rem;
            background-color: white;
            padding-right: .03rem;
            margin-bottom: .06rem;
            display: flex;
            flex-direction: column;
            &:nth-child(2n){
                padding-right: 0;
                padding-left: .03rem;
            }
            .box1{
                flex: 2;
                height: 1.84rem;
                img{
                    height: 100%;
                }
            }
            .box2{
                flex:1;
                padding:.09rem .1rem;
                .title{
                    width:90;
                    overflow: hidden;
                    font-size: .12rem;
                    line-height: .12rem;
                    text-overflow: ellipsis;
                    color: #877a73;
                    font-weight: normal;
                    white-space: nowrap;
                }
                .text{
                    margin-top: .048rem;
                    justify-content: space-between;
                    display: flex;
                    position: relative;
                    .keyword{
                        position:absolute;
                        left:.3rem;
                        color: #ff9000!important;
                        box-shadow: inset 0 0 0 1px #ff9000;
                        border-radius:.025rem;
                        padding:0 .015rem;
                    }
                    span{
                        &:nth-of-type(1){
                            font-size: .1rem;
                            display: inline-block;
                            border-radius: .005rem;
                            color: white;
                            background-color: #DF2B2F;
                            padding: .02rem .02rem 0;
                            border-radius: .03rem;
                        }
                        &:nth-of-type(2){
                            color:#877a73;
                        }
                    }
                    }
                }
                .price{
                    display: flex;
                    justify-content: space-between;
                    height: .24rem;
                    margin-top: .04rem;
                    align-items: flex-end;
                        h6{
                            display:flex;
                            align-items: flex-end;
                            font-weight: normal;
                            span{
                                &:nth-child(1){   
                                    color: #fa585a;
                                    font-size: .16rem;
                                    float: left;
                                    }
                                }
                            .bought{
                                font-size: .1rem;
                                float: right;
                                color: #877a73;
                                height: .256rem;
                                margin-left: .1rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                            }
                        }
                        .quan{
                            color: #fa585a;
                            height:.14rem;    
                            line-height: .14rem;
                            font-size: .1rem;
                            box-shadow: inset 0 0 0 0.01rem #fa585a;
                            box-sizing: border-box;
                            padding:0 .01rem;
                        }
                }
            }
            .card{
                flex: 1;
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
    }
